<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Suoritukset</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Suoritukset</h1>
	<h2 th:inline="text">Hei [[${#httpServletRequest.remoteUser}]]!</h2>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
		</form>
	</div>
		<table class="table table-stripped">
			<tr>
				<th>Päivämäärä</th>
				<th>Kategoria</th>
				<th>Kesto</th>
				<th>Kuvaus</th>
			</tr>
			<tr th:each = "suoritus : ${suoritukset}">
				<td th:text="${suoritus.paivamaara}"/>
				<td th:text="${suoritus.kategoria.nimi}"/>
				<td th:text="${suoritus.kesto}"/>
				<td th:text="${suoritus.kuvaus}"/>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${suoritus.id})}" class="btn btn-danger">Poista</a></td>
				<td><a th:href="@{/muokkaa/{id}(id=${suoritus.id})}" class="btn btn-warning">Muokkaa</a></td> 
			</tr>
		</table>
			<a href="/uusi" class="btn btn-success">Lisää uusi suoritus</a>
</body>
</html>