<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Suoritukset</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Uusi suoritus</h1>
	<div>
		<form th:object="${suoritus}" th:action="@{save}" action="#" method="post">
			
			<label for="paivamaara">Päivämäärä</label>
			<input type="text" id="paivamaara" th:field="*{paivamaara}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="kategoriat">Kategoria</label>
			<select id="kategoriat" th:field="*{kategoria}" class="form-control">
				<option th:each="kategoria: ${kategoriat}" th:value="${kategoria.kategoriaid}" th:text="${kategoria.nimi}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="kesto">Kesto</label>
			<input type="text" id="kesto" th:field="*{kesto}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="kuvaus">Kuvaus</label>
			<input type="text" id="kuvaus" th:field="*{kuvaus}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Tallenna"></input>
			
		</form>
	</div>
</body>
</head>
</html>